Repository BitcoinerRay/fullstack-vite-turborepo-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix, npm run format

fix: align formatting workflows for source files
  .lintstagedrc
  .prettierignore
  README.md
  docs/CONTRIB.md
  package.json
Due: npm run format

fix: align formatting workflows for source files (#26)
  .lintstagedrc
  .prettierignore
  README.md
  docs/CONTRIB.md
  package.json
Due: npm run format

chore: refine turbo task graph
  turbo.json
Due: npm run format

ci: add test coverage and caching to workflows
  .github/workflows/build.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: none

refactor: centralize locale constants
  apps/vite-frontend/src/components/footer/components/LocaleSelect/locale-select.component.tsx
  apps/vite-frontend/src/i18n/LanguageSync.tsx
  apps/vite-frontend/src/i18n/config.ts
  apps/vite-frontend/src/i18n/constants.ts
  apps/vite-frontend/src/i18n/navigation.ts
  apps/vite-frontend/src/pages/NotFound.tsx
  apps/vite-frontend/src/router/index.tsx
Due: npm --workspace vite-frontend run lint:fix, npm run format

refactor: consolidate auth session bootstrap
  apps/vite-frontend/src/api/user.api.ts
  apps/vite-frontend/src/hooks/use-auth/use-auth.hook.ts
  apps/vite-frontend/src/layouts/ProvidersLayout.tsx
  apps/vite-frontend/src/lib/axios.ts
  apps/vite-frontend/src/providers/auth-session/auth-session.provider.tsx
  apps/vite-frontend/src/router/PrivateRoute.tsx
  apps/vite-frontend/src/store/auth/auth.store.ts
Due: npm --workspace vite-frontend run lint:fix, npm run format

test: expand hermetic auth coverage
  apps/nestjs-backend/src/auth/auth.controller.spec.ts
  apps/nestjs-backend/src/auth/auth.service.spec.ts
  apps/nestjs-backend/src/users/users.controller.spec.ts
  apps/nestjs-backend/test/auth.e2e-spec.ts
  apps/vite-frontend/tests/login.spec.ts
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm run format

chore: archive frontend migration artifacts
  .nvmrc
  README.md
  apps/vite-frontend/README.md
  apps/vite-frontend/public/file.svg
  apps/vite-frontend/public/globe.svg
  apps/vite-frontend/public/next.svg
  apps/vite-frontend/public/vercel.svg
  apps/vite-frontend/public/window.svg
  codemaps/frontend.md
  docs/archive/frontend-migration/MIGRATION-SUMMARY.md
  docs/archive/frontend-migration/MIGRATION-TEST-RESULTS.md
Due: npm run format

fix: generate prisma client before db lint
  packages/db/package.json
Due: npm run format

fix: prepare workspace deps before lint
  apps/nestjs-backend/package.json
Due: npm run format

chore: refine turbo task graph (#33)
  apps/nestjs-backend/package.json
  packages/db/package.json
  turbo.json
Due: npm run format

ci: add test coverage and caching to workflows (#34)
  .github/workflows/build.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: none

refactor: centralize locale constants (#35)
  apps/vite-frontend/src/components/footer/components/LocaleSelect/locale-select.component.tsx
  apps/vite-frontend/src/i18n/LanguageSync.tsx
  apps/vite-frontend/src/i18n/config.ts
  apps/vite-frontend/src/i18n/constants.ts
  apps/vite-frontend/src/i18n/navigation.ts
  apps/vite-frontend/src/pages/NotFound.tsx
  apps/vite-frontend/src/router/index.tsx
Due: npm --workspace vite-frontend run lint:fix, npm run format

refactor: consolidate auth session bootstrap (#36)
  apps/vite-frontend/src/api/user.api.ts
  apps/vite-frontend/src/hooks/use-auth/use-auth.hook.ts
  apps/vite-frontend/src/layouts/ProvidersLayout.tsx
  apps/vite-frontend/src/lib/axios.ts
  apps/vite-frontend/src/providers/auth-session/auth-session.provider.tsx
  apps/vite-frontend/src/router/PrivateRoute.tsx
  apps/vite-frontend/src/store/auth/auth.store.ts
Due: npm --workspace vite-frontend run lint:fix, npm run format

test: expand hermetic auth coverage (#37)
  apps/nestjs-backend/src/auth/auth.controller.spec.ts
  apps/nestjs-backend/src/auth/auth.service.spec.ts
  apps/nestjs-backend/src/users/users.controller.spec.ts
  apps/nestjs-backend/test/auth.e2e-spec.ts
  apps/vite-frontend/tests/login.spec.ts
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm run format

chore: archive frontend migration artifacts (#38)
  .nvmrc
  README.md
  apps/vite-frontend/README.md
  apps/vite-frontend/public/file.svg
  apps/vite-frontend/public/globe.svg
  apps/vite-frontend/public/next.svg
  apps/vite-frontend/public/vercel.svg
  apps/vite-frontend/public/window.svg
  codemaps/frontend.md
  docs/archive/frontend-migration/MIGRATION-SUMMARY.md
  docs/archive/frontend-migration/MIGRATION-TEST-RESULTS.md
Due: npm run format

feat(security): tighten auth defaults and rate limiting
  .env.development
  .env.production
  .env.production.example
  .gitignore
  apps/nestjs-backend/src/app.module.ts
  apps/nestjs-backend/src/auth/auth.controller.ts
  apps/nestjs-backend/src/auth/auth.service.spec.ts
  apps/nestjs-backend/src/auth/auth.service.ts
  apps/nestjs-backend/src/auth/strategies/jwt.strategy.ts
  apps/nestjs-backend/src/config/app.config.ts
  apps/nestjs-backend/src/config/config-key.enum.ts
  apps/nestjs-backend/src/config/validation.schema.ts
  apps/nestjs-backend/src/users/users.controller.spec.ts
  apps/nestjs-backend/test/auth.e2e-spec.ts
Due: npm --workspace nestjs-backend run lint:fix, npm run format

chore(tooling): add shared tsconfig base, turbo inputs, and CI hardening
  .dockerignore
  .github/workflows/quality.yml
  apps/nestjs-backend/package.json
  apps/nestjs-backend/test/jest-unit.json
  apps/vite-frontend/package.json
  apps/vite-frontend/src/pages/ErrorBoundary.tsx
  package-lock.json
  package.json
  packages/db/package.json
  packages/db/tsconfig.json
  packages/shared/package.json
  packages/shared/src/dtos/user/update-user.dto.ts
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
  tsconfig.base.json
  turbo.json
Due: npm --workspace vite-frontend run lint:fix, npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix, npm run format

perf: split vendor chunks, tune query/store caches, and project user columns
  apps/nestjs-backend/src/users/users.service.ts
  apps/vite-frontend/src/components/header/header.component.tsx
  apps/vite-frontend/src/components/loading-animation/loading-animation.component.tsx
  apps/vite-frontend/src/providers/react-query/react-query.provider.tsx
  apps/vite-frontend/vite.config.ts
  deploy/vite-frontend.nginx.conf
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm run format

test(frontend): wire up vitest with RTL and cover auth, loading, axios
  apps/vite-frontend/package.json
  apps/vite-frontend/src/hooks/use-auth/use-auth.hook.test.tsx
  apps/vite-frontend/src/lib/axios.test.ts
  apps/vite-frontend/src/store/auth/auth.store.test.ts
  apps/vite-frontend/src/store/loading/loading.store.test.ts
  apps/vite-frontend/src/test/setup.ts
  apps/vite-frontend/tsconfig.json
  apps/vite-frontend/vitest.config.ts
  package-lock.json
  package.json
Due: npm --workspace vite-frontend run lint:fix, npm run format

perf(users): cache findById through redis with safe-fail fallbacks
  apps/nestjs-backend/src/app.module.ts
  apps/nestjs-backend/src/redis/redis.service.ts
  apps/nestjs-backend/src/users/users.service.spec.ts
  apps/nestjs-backend/src/users/users.service.ts
Due: npm --workspace nestjs-backend run lint:fix, npm run format

feat(security): tighten Helmet CSP and HSTS for the API surface
  apps/nestjs-backend/src/main.ts
Due: npm --workspace nestjs-backend run lint:fix, npm run format

feat(auth): rotate refresh tokens via cookies with single-flight retry
  .env.development
  .env.production.example
  apps/nestjs-backend/src/auth/auth.controller.spec.ts
  apps/nestjs-backend/src/auth/auth.controller.ts
  apps/nestjs-backend/src/auth/auth.service.spec.ts
  apps/nestjs-backend/src/auth/auth.service.ts
  apps/nestjs-backend/src/config/app.config.ts
  apps/nestjs-backend/src/config/config-key.enum.ts
  apps/nestjs-backend/src/config/validation.schema.ts
  apps/nestjs-backend/test/auth.e2e-spec.ts
  apps/vite-frontend/src/lib/axios.test.ts
  apps/vite-frontend/src/lib/axios.ts
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm run format

feat(auth): rotate refresh tokens via redis jti and tighten checks
  apps/nestjs-backend/src/auth/auth.controller.spec.ts
  apps/nestjs-backend/src/auth/auth.controller.ts
  apps/nestjs-backend/src/auth/auth.service.spec.ts
  apps/nestjs-backend/src/auth/auth.service.ts
  apps/nestjs-backend/src/auth/parse-refresh-ttl.spec.ts
  apps/nestjs-backend/src/auth/strategies/jwt.strategy.ts
  apps/nestjs-backend/src/config/validation.schema.ts
  apps/nestjs-backend/src/main.ts
  apps/nestjs-backend/src/redis/redis.service.ts
  apps/nestjs-backend/test/auth.e2e-spec.ts
  apps/nestjs-backend/xo.config.ts
  apps/vite-frontend/public/locales/en.json
  apps/vite-frontend/public/locales/zh.json
  apps/vite-frontend/src/lib/auth-error.ts
  apps/vite-frontend/src/pages/auth/LoginPage.tsx
  apps/vite-frontend/src/pages/auth/RegisterPage.tsx
  packages/shared/src/dtos/auth/register.dto.ts
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix, npm run format

fix(deploy): unbreak production docker build and run as non-root
  deploy/nestjs-backend.dockerfile
  deploy/vite-frontend.dockerfile
  deploy/vite-frontend.nginx.conf
  docker-compose.yml
Due: none

refactor: drop manual workspace builds and harden frontend route shell
  apps/nestjs-backend/package.json
  apps/vite-frontend/src/components/route-boundary/route-boundary.component.tsx
  apps/vite-frontend/src/hooks/use-auth/use-auth.hook.ts
  apps/vite-frontend/src/i18n/LanguageSync.tsx
  apps/vite-frontend/src/router/index.tsx
  package-lock.json
Due: npm --workspace vite-frontend run lint:fix, npm run format

feat(common): propagate x-request-id through logs and error responses
  apps/nestjs-backend/src/common/common.module.ts
  apps/nestjs-backend/src/common/filters/http-exception/http-exception.filter.ts
  apps/nestjs-backend/src/common/filters/prisma-exception/prisma-exception.filter.ts
  apps/nestjs-backend/src/common/filters/prisma-exception/types/error-response.type.ts
  apps/nestjs-backend/src/common/logger/logger.middleware.ts
  apps/nestjs-backend/src/common/middleware/request-id.middleware.spec.ts
  apps/nestjs-backend/src/common/middleware/request-id.middleware.ts
Due: npm --workspace nestjs-backend run lint:fix, npm run format

feat(backend): graceful shutdown, http timeouts, swagger auth schemes
  apps/nestjs-backend/src/main.ts
  apps/nestjs-backend/src/users/users.controller.ts
  apps/nestjs-backend/test/jest-unit.json
Due: npm --workspace nestjs-backend run lint:fix, npm run format

test(backend): cover jwt strategy account checks and redis cache helpers
  apps/nestjs-backend/src/auth/strategies/jwt.strategy.spec.ts
  apps/nestjs-backend/src/redis/redis.service.spec.ts
Due: npm --workspace nestjs-backend run lint:fix, npm run format

perf(vite-frontend): memoize Header and stabilize zustand selector
  apps/vite-frontend/src/components/header/header.component.tsx
Due: npm --workspace vite-frontend run lint:fix, npm run format

feat(backend): tighten secret config, password lookup, and log redaction
  apps/nestjs-backend/src/common/logger/logger.middleware.ts
  apps/nestjs-backend/src/config/validation.schema.ts
  apps/nestjs-backend/src/users/users.service.ts
Due: npm --workspace nestjs-backend run lint:fix, npm run format

test(backend): cover exception filters and validation schema
  apps/nestjs-backend/src/common/filters/http-exception/http-exception.filter.spec.ts
  apps/nestjs-backend/src/common/filters/prisma-exception/prisma-exception.filter.spec.ts
  apps/nestjs-backend/src/config/validation.schema.spec.ts
Due: npm --workspace nestjs-backend run lint:fix, npm run format

chore(deps): apply npm audit fix and override postcss/uuid/axios
  apps/nestjs-backend/package.json
  apps/nestjs-backend/src/main.ts
  apps/vite-frontend/package.json
  apps/vite-frontend/src/lib/axios.test.ts
  package-lock.json
  package.json
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm run format

chore: add Cursor skill for CN mirror switching on request
  .cursor/skills/switch-to-cn-mirror-on-request/SKILL.md
  .cursor/skills/switch-to-cn-mirror-on-request/references/docker-mirror-triage.md
Due: npm run format

chore: add Cursor skill for CN mirror switching on request (#41)
  .cursor/skills/switch-to-cn-mirror-on-request/SKILL.md
  .cursor/skills/switch-to-cn-mirror-on-request/references/docker-mirror-triage.md
Due: npm run format

Path conditions:
  npm --workspace nestjs-backend run lint:fix: any of: apps/nestjs-backend/**/*.{ts,tsx,js,jsx}
  npm --workspace vite-frontend run lint:fix: any of: apps/vite-frontend/**/*.{ts,tsx,js,jsx}
  npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix: any of: packages/shared/**/*.{ts,tsx,js,jsx}
  npm run format: any of: *.{json,md,css,html,ts,tsx,js,jsx}
