Repository BitcoinerRay/fullstack-vite-turborepo-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix, npm run format

🐞 fix(build): fix build command
  README.md
Due: npm run format

fix(build): build command
  README.md
Due: npm run format

docs: update README, codemaps, CONTRIB, RUNBOOK; relax frontend xo rules
  README.md
  apps/vite-frontend/xo.config.ts
  codemaps/architecture.md
  codemaps/frontend.md
  docs/CONTRIB.md
  docs/RUNBOOK.md
Due: npm --workspace vite-frontend run lint:fix, npm run format

fix(build): update build command after init project
  README.md
Due: npm run format

feat(copilot): copilot sync
  package.json
  scripts/copilot-sync.js
Due: npm run format

chore(nestjs): update env config seed and main bootstrap
  .env.example
  apps/nestjs-backend/src/config/validation.schema.ts
  apps/nestjs-backend/src/main.ts
  package-lock.json
  packages/db/package.json
  packages/db/prisma/migrations/20260225091428_init/migration.sql
  packages/db/prisma/migrations/migration_lock.toml
  packages/db/prisma/seed.ts
Due: npm --workspace nestjs-backend run lint:fix, npm run format

docs(readme): clarify init script behavior
  README.md
Due: npm run format

fix(turbo): remove ^db:generate from build dependsOn
  turbo.json
Due: npm run format

chore(vite-frontend): enable host and strictPort in vite server config
  apps/vite-frontend/vite.config.ts
Due: npm --workspace vite-frontend run lint:fix, npm run format

fix: add format step before add in commit-and-push and align header-decorator type with Prettier
  .cursor/commands/commit-and-push.md
Due: npm run format

chore(vite-frontend): adjust lint and tsconfig for r3f
  apps/vite-frontend/tsconfig.json
  apps/vite-frontend/xo.config.ts
Due: npm --workspace vite-frontend run lint:fix, npm run format

feat(cursor): add design-before-coding skill for agent system design
  .cursor/skills/design-before-coding.md
  .husky/commit-msg
Due: npm run format

chore: add rules in xo.config.ts
  apps/vite-frontend/xo.config.ts
Due: npm --workspace vite-frontend run lint:fix, npm run format

fix(i18n): move locale json files to public for production builds
  apps/vite-frontend/locales/en.json
  apps/vite-frontend/locales/zh.json
  apps/vite-frontend/public/locales/en.json
  apps/vite-frontend/public/locales/zh.json
Due: npm run format

refactor(env): move app env loading to monorepo root and add backend multi-env support
  .env.development
  .env.production
  apps/nestjs-backend/.env.example
  apps/nestjs-backend/package.json
  apps/nestjs-backend/src/app.module.ts
  apps/vite-frontend/.env.example
  apps/vite-frontend/src/pages/Home.tsx
  apps/vite-frontend/vite.config.ts
  package-lock.json
  package.json
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm run format

refactor: optimize security, performance, and code quality across monorepo
  .github/workflows/quality.yml
  .npmrc
  apps/nestjs-backend/src/app.module.ts
  apps/nestjs-backend/src/auth/auth.service.ts
  apps/vite-frontend/components.json
  apps/vite-frontend/src/lib/axios.ts
  apps/vite-frontend/src/providers/react-query/react-query.provider.tsx
  apps/vite-frontend/src/router/index.tsx
  apps/vite-frontend/src/store/loading/loading.store.ts
  apps/vite-frontend/vite.config.ts
  package-lock.json
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm run format

refactor: security fixes, config improvements, and health check enhancements
  apps/nestjs-backend/package.json
  apps/nestjs-backend/src/auth/auth.module.ts
  apps/nestjs-backend/src/common/filters/prisma-exception/prisma-exception.filter.ts
  apps/nestjs-backend/src/common/filters/prisma-exception/types/error-response.type.ts
  apps/nestjs-backend/src/common/logger/logger.middleware.ts
  apps/nestjs-backend/src/health/health.controller.ts
  apps/nestjs-backend/src/health/health.module.ts
  apps/nestjs-backend/src/health/redis.health.ts
  apps/nestjs-backend/src/redis/redis.service.ts
  apps/nestjs-backend/tsconfig.json
  apps/vite-frontend/tsconfig.json
  docker-compose.yml
Due: npm --workspace nestjs-backend run lint:fix, npm run format

style: apply formatting fixes from lint-staged
  package-lock.json
Due: npm run format

refactor: security fixes, config improvements, and health check enhancements (#11)
  apps/nestjs-backend/package.json
  apps/nestjs-backend/src/auth/auth.module.ts
  apps/nestjs-backend/src/common/filters/prisma-exception/prisma-exception.filter.ts
  apps/nestjs-backend/src/common/filters/prisma-exception/types/error-response.type.ts
  apps/nestjs-backend/src/common/logger/logger.middleware.ts
  apps/nestjs-backend/src/health/health.controller.ts
  apps/nestjs-backend/src/health/health.module.ts
  apps/nestjs-backend/src/health/redis.health.ts
  apps/nestjs-backend/src/redis/redis.service.ts
  apps/nestjs-backend/tsconfig.json
  apps/vite-frontend/tsconfig.json
  docker-compose.yml
  package-lock.json
Due: npm --workspace nestjs-backend run lint:fix, npm run format

docs: update READMEs, codemaps, and commit-and-push workflow
  .cursor/commands/commit-and-push.md
  README.md
  apps/nestjs-backend/readme.md
  apps/nestjs-backend/src/config/readme.md
  apps/vite-frontend/README.md
  codemaps/architecture.md
  codemaps/backend.md
  codemaps/data.md
  codemaps/frontend.md
  docs/CONTRIB.md
  docs/RUNBOOK.md
  packages/db/README.md
  packages/shared/README.md
Due: npm run format

fix: honor FRONTEND_HOST env contract
  README.md
  apps/nestjs-backend/readme.md
  apps/nestjs-backend/src/config/app.config.ts
  apps/nestjs-backend/src/config/readme.md
  codemaps/backend.md
  docs/RUNBOOK.md
Due: npm --workspace nestjs-backend run lint:fix, npm run format

fix: align init with root env strategy
  .gitignore
  README.md
  docs/RUNBOOK.md
  scripts/init.js
Due: npm run format

test: add smoke coverage for unit and e2e flows
  README.md
  apps/nestjs-backend/package.json
  apps/nestjs-backend/readme.md
  apps/nestjs-backend/src/health/health.controller.spec.ts
  apps/nestjs-backend/test/health.e2e-spec.ts
  apps/nestjs-backend/test/jest-e2e.json
  apps/nestjs-backend/test/jest-unit.json
  apps/vite-frontend/README.md
  apps/vite-frontend/playwright.config.ts
  apps/vite-frontend/tests/login.spec.ts
  codemaps/frontend.md
  docs/CONTRIB.md
  docs/RUNBOOK.md
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm run format

fix: wire VITE_BACKEND_URL into frontend api config
  README.md
  apps/vite-frontend/README.md
  apps/vite-frontend/src/lib/axios.ts
  apps/vite-frontend/vite.config.ts
  codemaps/frontend.md
Due: npm --workspace vite-frontend run lint:fix, npm run format

feat: add real frontend navigation
  apps/vite-frontend/public/locales/en.json
  apps/vite-frontend/public/locales/zh.json
  apps/vite-frontend/src/components/footer/components/LocaleSelect/locale-select.component.tsx
  apps/vite-frontend/src/components/footer/footer.component.tsx
  apps/vite-frontend/src/components/header/header.component.tsx
  apps/vite-frontend/src/i18n/navigation.ts
  apps/vite-frontend/src/pages/info-page.tsx
  apps/vite-frontend/src/router/index.tsx
Due: npm --workspace vite-frontend run lint:fix, npm run format

chore: clean frontend migration residue
  apps/vite-frontend/MIGRATION-SUMMARY.md
  apps/vite-frontend/README.md
  apps/vite-frontend/src/components/header/header.component.tsx
  apps/vite-frontend/src/components/loading-animation/loading-animation.component.tsx
  apps/vite-frontend/src/components/ui/alert-dialog.tsx
  apps/vite-frontend/src/components/ui/dropdown-menu.tsx
  apps/vite-frontend/src/components/ui/label.tsx
  apps/vite-frontend/src/components/ui/select.tsx
  apps/vite-frontend/src/providers/react-query/react-query.provider.tsx
  apps/vite-frontend/src/providers/toast/toast.provider.tsx
  codemaps/frontend.md
  turbo.json
Due: npm --workspace vite-frontend run lint:fix, npm run format

fix: stabilize dependency audit for workspace installs
  .github/workflows/quality.yml
  apps/nestjs-backend/package.json
  apps/nestjs-backend/src/main.ts
  apps/vite-frontend/package.json
  package-lock.json
  package.json
  packages/db/package.json
  packages/shared/package.json
Due: npm --workspace nestjs-backend run lint:fix, npm run format

fix: stabilize dependency audit for workspace installs (#25)
  .github/workflows/quality.yml
  apps/nestjs-backend/package.json
  apps/nestjs-backend/src/main.ts
  apps/vite-frontend/package.json
  package-lock.json
  package.json
  packages/db/package.json
  packages/shared/package.json
Due: npm --workspace nestjs-backend run lint:fix, npm run format

fix: honor FRONTEND_HOST env contract (#18)
  README.md
  apps/nestjs-backend/readme.md
  apps/nestjs-backend/src/config/app.config.ts
  apps/nestjs-backend/src/config/readme.md
  codemaps/backend.md
  docs/RUNBOOK.md
Due: npm --workspace nestjs-backend run lint:fix, npm run format

feat: replace placeholder navigation and dead footer links (#22)
  apps/vite-frontend/public/locales/en.json
  apps/vite-frontend/public/locales/zh.json
  apps/vite-frontend/src/components/footer/components/LocaleSelect/locale-select.component.tsx
  apps/vite-frontend/src/components/footer/footer.component.tsx
  apps/vite-frontend/src/components/header/header.component.tsx
  apps/vite-frontend/src/i18n/navigation.ts
  apps/vite-frontend/src/pages/info-page.tsx
  apps/vite-frontend/src/router/index.tsx
Due: npm --workspace vite-frontend run lint:fix, npm run format

fix: align init with root env strategy (#19)
  .gitignore
  README.md
  docs/RUNBOOK.md
  scripts/init.js
Due: npm run format

fix: wire VITE_BACKEND_URL into frontend api config (#21)
  README.md
  apps/vite-frontend/README.md
  apps/vite-frontend/src/lib/axios.ts
  apps/vite-frontend/vite.config.ts
  codemaps/frontend.md
Due: npm --workspace vite-frontend run lint:fix, npm run format

chore: clean frontend migration residue and turbo env tracking (#23)
  apps/vite-frontend/MIGRATION-SUMMARY.md
  apps/vite-frontend/README.md
  apps/vite-frontend/src/components/loading-animation/loading-animation.component.tsx
  apps/vite-frontend/src/components/ui/alert-dialog.tsx
  apps/vite-frontend/src/components/ui/dropdown-menu.tsx
  apps/vite-frontend/src/components/ui/label.tsx
  apps/vite-frontend/src/components/ui/select.tsx
  apps/vite-frontend/src/providers/react-query/react-query.provider.tsx
  apps/vite-frontend/src/providers/toast/toast.provider.tsx
  codemaps/frontend.md
  turbo.json
Due: npm --workspace vite-frontend run lint:fix, npm run format

test: add smoke coverage for unit and e2e flows (#20)
  README.md
  apps/nestjs-backend/package.json
  apps/nestjs-backend/readme.md
  apps/nestjs-backend/src/health/health.controller.spec.ts
  apps/nestjs-backend/test/health.e2e-spec.ts
  apps/nestjs-backend/test/jest-e2e.json
  apps/nestjs-backend/test/jest-unit.json
  apps/vite-frontend/README.md
  apps/vite-frontend/playwright.config.ts
  apps/vite-frontend/tests/login.spec.ts
  codemaps/frontend.md
  docs/CONTRIB.md
  docs/RUNBOOK.md
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace vite-frontend run lint:fix, npm run format

Path conditions:
  npm --workspace nestjs-backend run lint:fix: any of: apps/nestjs-backend/**/*.{ts,tsx,js,jsx}
  npm --workspace vite-frontend run lint:fix: any of: apps/vite-frontend/**/*.{ts,tsx,js,jsx}
  npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix: any of: packages/shared/**/*.{ts,tsx,js,jsx}
  npm run format: any of: *.{json,md,css,html,ts,tsx,js,jsx}
